*{
    margin:0;
    padding:0;
    list-style: none;
    font-family: "Roboto";
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}

@font-face{
    font-family: "Roboto";
    src:url("/assets/Roboto-Regular.ttf")

}

.container{
    width: 60%;
    margin:auto;
}

h1{
    font-size:4em;
}
h2{
    font-size:2em;
}
h3{
    font-size:1em;
}

header{

    color:white;
    background-image: url("/assets/banc.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -200px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
    overflow-y:hidden;
    img{
        width:150px;
    }
    h1{
        margin: 100px 0 20px 0;
    }
    .bouton{
        margin-top:40px;
        border:2px solid white;
        background: linear-gradient(87.17deg, #40C764 0.03%, #0F9132 100%);
        border-radius: 0.5em;
        padding: 20px 60px;
        font-size:1.6em;

    color:white;
        cursor: pointer;
        &:hover{
            transform: scale(1.1) rotate(1deg);
        }
    }
}
.services{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top:150px;
    color:black;
    .card{
        background: #FFFFFF;
        box-shadow: 0px 0px 23px -1px rgba(0, 0, 0, 0.25);
        width: 20%;
        border-radius: 1em;
        padding:35px;
        text-align: center;
        .image{
            height: 80px;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            img{
                width: 40%;
            }
        }
        h3{
            margin-top:20px;
            font-size:0.9em;
            height: 30px;
        }
        ul{
            text-align: left;
            li{
                color: #9F9F9F;
                margin-top:5px;
                font-size:0.8em;
                &:before{
                    content:'- '
                }
            }
        }
    }
}

.contact{
    margin-top:150px;
    div{
        display: flex;
        justify-content: center;
        align-items: center;
        .left{
            background: linear-gradient(294.5deg, #27813F 0%, #10C140 100%);
            box-shadow: 0px 0px 83px 7px rgba(0, 0, 0, 0.25);
            color:white;
            padding:50px;
            border-radius: 1em;
            margin-right:-100px;
            z-index: 1;
            height: 200px;
            width:300px;
            display: flex;
            flex-direction: column;
            align-items:flex-start;
            justify-content: space-evenly;
            p{
                font-size:1.5em;
                a{
                    color:white;
                }
            }
            #partel{
                font-size:1em;   
                color:#DDDDDD;
            }
        }
        .right{
            z-index: 0;
            img{
                width: 700px;
                border-radius: 1em;
            }
        }
    }
}

footer{
    margin-top:100px;
    height: 100px;
    background: #404040;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    p{
        margin-right:30px;
        a{
            color:white;
            &:hover{
                color:gray;
            }
        }
    }
}

@media (max-width:1500px){
    .container{
        width:80%
    }
    header{
        background-position-y: 0px;
    }
}
@media (max-width:1000px){
    .container{
        width:90%
    }
    header{
        h1{
            font-size:3em;
            text-align: center;
        }
        h2{
            font-size: 1.2em;
            text-align: center;
        }
        .bouton{
            padding:10px 30px;
            font-size: 1em;
        }
    }
    .services{
        margin-top:30px;
        flex-direction: column;
        .card{
            box-sizing: border-box;
            width: 100%;
            margin-top:50px;
            .image{
                img{
                    height: 100%;
                }
            }
        }
    }
    .contact{
        div{
            .left{
                margin-right:0;
                width: 100%;
                padding:20px;
            }
            .right{
                display: none;
            }
        }
    }
    footer{
        p{
            margin-right: 0;
        }
    }
}
@media (max-width:400px){
    header{
        h1{
            font-size:2em;
        }
    }
    .contact{
        margin: 40px 0 0 0;
    }
}